#!/bin/bash

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"

# git shortcuts
alias gs="git status"
alias ga="git add -A ."
alias gc="git commit"
alias gp="git push"
alias gl="git pull"
alias glog="git log --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset %C(yellow)%ad%Creset' --abbrev-commit --date=short"
alias grt='cd "$(git rev-parse --show-toplevel)"' # Go to the Git root directory of the current project
alias gitgmail="git config user.email zccjxx62@gmail.com; git config user.name chenwuai" # Set the Git user of the current project is Gmail user

# brew shortcuts
alias bi="brew install"

# npm script shortcuts
alias i="ni"
alias nd="nr dev"
alias nb="nr build"

# nvm script shortcuts
alias nv8="nvm use 8"
alias nv12="nvm use 12"
alias nv14="nvm use 14"
alias nv16="nvm use 16"

# qrencode script shortcuts
alias qr="qrencode"
alias qrcode="qrencode -t utf8 -m 2 -o -"
