# Open Proxy
function proxy_on(){
        export https_proxy=http://127.0.0.1:7890
        export http_proxy=http://127.0.0.1:7890
        export all_proxy=socks5://127.0.0.1:7891
        echo -e "proxy on"
        proxy_status
}

# Close Proxy
function proxy_off(){
        unset http_proxy
        unset https_proxy
        unset all_proxy
        echo -e "proxy off"
}

# Proxy Status
function proxy_status(){
        echo "http_proxy: $http_proxy"
        echo "https_proxy: $https_proxy"
        echo "all_proxy:  $all_proxy"
}
